.wrapper{
    background: url("../images/signup-bg.png") no-repeat;
    background-size: cover;
    overflow: auto;
}
.forgetPSWWrapper{
    width: 700px;
    height: 400px;
    position: relative;
    top: 90px;
    overflow: hidden;
    margin: 0 auto;
    background: #FFF;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 0 6px #ccc;

    background-size: cover;
}
.forgetPSWTitle{
    margin: 40px 0 20px;
    height: 30px;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    color: #636363;
    letter-spacing: 8px;

}
.forgetPSWHeader{
    display: flex;
    width: 100%;
    background: url("../images/setpOne.png") no-repeat 0 0,#e0e0e0;
}
.forgetPSWHeader span{
    position: relative;
    display: block;
    flex: 1;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    text-indent: 46px;
}
.forgetPSWHeader div span{
    display: block;
    width: 150px;
    height: 27px;
    line-height: 23px;
    margin: 0 auto;
    border-bottom: 2px solid #808080;
    letter-spacing: 3px;
    color: #808080;
}
.forgetPSWCont{
    width: 500px;
    height:300px;
    overflow: hidden;
    margin: 10px auto;
}
.stepOneCont, .stepTwoCont{
    margin-top: 40px;
    height: 250px;
}
.forgetPSWCont label{
    width: 72px;
}
.idLabel{
    letter-spacing: 13px;
}
.newPSWLabel{
    letter-spacing: 5px;
}
.forgetPSWCont input{
    display: inline-block;
    width: 84%;
}
.nextBtn{
    margin: 35px auto;
    width: 130px;
    letter-spacing: 5px;
}
.spanNextActive{
    color: #fff !important;
}
.passStyle{
    color: #168716 !important;
}

.laughCont{
    display: inline-block;
    margin: 53px 0 0;
}
.findPSWSuccess{
    display: inline-block;
    margin-left: 50px;
    font-size: 18px;
}
.passIcon{
    position: absolute;
    top: 5px;
    left: -29px;
    font-size: 20px;
}