.typePropertyContent{
    position: relative;
    margin: -24px 0 40px;
}
.propertyWrapper{
    display: inline-block;
    position: relative;
    min-width: 80px;
    height: 40px;
    margin-left: 42px;
    margin-top: 50px;
    padding: 0 25px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    box-shadow: 5px 3px 6px #ccc;
}
.iconPosition{
    position: absolute;
    top: 4px;
    right: 4px;
}
.iconPosition:hover{
    cursor: pointer;
}
.removeIcon{
    position: absolute;
    top: 12px;
    left: 8px;
}
.removeIcon:hover{
    cursor: pointer;
    font-size: 24px !important;
    position: absolute;
    top: 8px;
    left: 6px;
}
.dropDown{
    position: absolute;
    top: 12px;
    right: 9px;
}
.propertyMain{
    display: inline-block;
    position: relative;
}
.propertyNameCont{
    display: none;
    min-width: 110px;
    position: absolute;
    left: 0;
    margin-top: 1px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 5px 3px 6px #ccc;
    color: #000;
    z-index: 999;
}
.propertyNameCont ul li{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-align: left;
    font-size: 14px;
}
.typeWrapper{
    display: inline-block;
    position: relative;
    min-width: 160px;
    height: 40px;
    margin-left: 45px;
    margin-top: 35px;
    padding: 0 30px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    color: #fff;
}
.typeWrapper:hover{
    cursor: pointer;
}

.selectPropertyWrapper{
    display: inline-block;
    width: 120px;
    margin: 10px 0 0 30px;
}

.propertyLabel{
    font-weight: 100;
}
.saveTitle{
    color: rgb(240, 173, 78);
}
.waitCheckCont{
    position: relative;
    margin-top: -24px;
}
.waitCheckTypeWrapper{
    display: inline-block;
    position: relative;
    min-width: 160px;
    height: 40px;
    margin-left: 45px;
    margin-top: 35px;
    padding: 0 25px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background-color: rgb(203, 204, 203) !important;
    border: 1px dotted;
}
.waitCheckTypeWrapper:hover{
    cursor: pointer;
}

.waitCheckNameCont{
    display: none;
    min-width: 110px;
    position: absolute;
    left: 0;
    margin-top: 1px;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 3px 6px #ccc;
    color: #000;
    z-index: 999;
}

.waitCheckNameCont ul li{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-align: left;
    font-size: 14px;
}