.existPublicDataList{
    width: 99%;
    height: 100%;
    margin: 40px auto 0;
}

.dataClass{
    float: left;
    min-width: 80px;
    height:40px;
    border-radius: 50% 0 0 50%;
    box-shadow: 5px 5px 6px #636363;
    margin: 30px 50px 0 0;
}
.icon{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50% 0 0 50%;
    border-right: none;
}
.dataClassCont{
    display: inline-block;
    min-width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: top;
    margin-left: -5px;
    border-left: none;
    color: #fff;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.className{
    min-width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 20px 0 10px;
}

.iconLogo{
    display: inline-block;
    margin: 13px;
    padding-left: 3px;
    color: #fff;
}
.bgcOne{
     background-color: #00B9B3;
 }
.bgcTwo{
    background-color: #339900;
}
.bgcThree{
    background-color: #FCA726;
}
.bgcApplying{
    background-color: #ccc;
    border: 2px dashed #989898;
}
.applyDataName{
    display: inline-block;
    width: 464px;
}
.applying{
    border-top: 2px solid #ccc;
    position: absolute;
    top: 400px;
    width: 97%;
    border-top: 2px dashed #ccc;
}

.applyingDataClass{
    float: left;
    min-width: 80px;
    height:40px;
    border-radius: 50% 0 0 50%;
    margin: 30px 50px 0 0;
}
