.wrapper{
    width: 100%;
    height: 100%;
}
header{
    display: flex;
    width: 100%;
    min-width: 1040px;
    height: 80px;
    background-color: #3894C7;
    position: absolute;
    z-index: 999;
}
.headerLeft{
    min-width: 200px;
    height: 80px;
    line-height: 80px;
    text-indent: 40px;
    font-size: 20px;
    font-family: "Microsoft Yahei";
    color: #D0ECF0;
}
.headerRight{
    flex: 10;
    height: 80px;
    line-height: 80px;
    font-size: 14px;
    font-family: "Microsoft Yahei";
}
.welcome{
    float: right;
    height: 80px;
    margin-right: 40px;
    line-height: 80px;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    color: #D0ECF0;
}
.welcome a{
    text-decoration: none;
    color: #FFFFFF;
}
.middle{
    width: 100%;
    height: 100%;
    display: flex;
}
.leftContent{
    flex: 2;
    min-width: 160px;
    height: 100%;
    position: absolute;
    z-index: 499;
    padding-top: 80px;
    background-color: #4F575A;
}
.rightContent{
    flex: 13;
    width: 100%;
    min-width: 860px;
    height: 100%;
    position: absolute;
    padding-left: 160px;
    padding-top: 80px;
    background-color: #ECEFF4;
}
.aside li a{
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-decoration: none;
    text-indent: 12px;
    color: #BABCBC;
    font-size: 16px;
    font-family: "Microsoft Yahei";
}
.aside li a:hover{
    background-color: #5D6A73;
    cursor: pointer;
}
.asideAddClass{
    color: #fff !important;
    background-color: #5D6A73;
}
.asideAddClass_2{
    color: #BABCBC !important;
    background-color: #4f575a !important;
}
.aside li a i{
    margin-right: 10px;
}

.mainFrame{
    width: 100%;
    height: 100%;
    border: none;
}

/* 教务处主页css */
.publicDataType{
    background-color: #384144;
    display: none;
}
.publicDataType ul li a{
    text-indent: 56px;
}

/* 通用样式 */
.noData{
    margin-top: -20px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #AA6708;
    text-align: center;
}
.loginOut{
    margin-left: 20px;
}
.loginOut:hover{
    cursor: pointer;
    color: #FFF;
}
.personLi a{
    display: block;
    height: 35px !important;
    line-height: 35px !important;
    font-size: 14px !important;
}
.iconDown{
    font-size: 23px;
    position: absolute;
    top: 12px;
    left: 110px;
}