.teacherCurrentWrapper{
    width: 99%;
    height: 97%;
    margin: 0 auto;
}
.publicDataTitle{
    margin: 10px 0;
    padding: 0 0 10px;
    font-size: 16px;
    font-family:"Microsoft YaHei", Arial, Helvetica, sans-serif;
    border-bottom: 2px dashed #ccc;
}
.uploadTitle{
    display: inline-block;
    margin: -1px 0 10px;
    font-size: 18px;
    font-family:"Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: #484848;
}
.upload{
    display: block;
    float: right;
    margin-right: 40px;
    position: relative;
    z-index: 999;
}
.upload:hover{
    cursor: pointer;
}

.buttonStyle{
    position: relative;
    top: 26px;
    left: -93px;
    height: 25px;
    line-height: 16px;
}
.fileBtnStyle{
    width: 70px;
    opacity: 0;
    position: absolute;
}
.chooseFile{
    display: none !important;
}
.fileName{
    width: 90%;
    margin-left: 57px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chooseFileBtn{
    margin-top: -33px;
}

.chooseSelect{
    display: inline-block;
    width: 91px;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
}

.chooseLabel{
    width: 70px;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 100;
    color: #3894c7;
}

/* --管理员页面部分样式-- */
.checkBtn{
    margin-right: 5px !important;
}
.batchDelete{
    float: right;
    height: 28px;
    line-height: 28px;
    padding: 0 6px;
    margin-right: 15px;
}
.textareaStyle{
    resize: none;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    display: block;
}
.upLoadDescription{
    resize: none;
    width: 100%;
    height: 80px !important;
    border-radius: 5px;
    display: block;
}
.appendLabel{

}
.appendSelect{

}
.appendGroup{
    display: inline-block;
    width: 176px;
}
.appendMargin{
    margin-left: 20px;
}