<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snut_tdms.dao.AdminDao">

    <resultMap id="log" type="com.snut_tdms.model.po.Log">
        <id column="id" jdbcType="VARCHAR" javaType="java.lang.String" property="id"/>
        <result column="content" jdbcType="VARCHAR" javaType="java.lang.String" property="content"/>
        <result column="action" jdbcType="VARCHAR" javaType="java.lang.String" property="action"/>
        <result column="time" jdbcType="VARCHAR" javaType="java.sql.Timestamp" property="time"/>
        <result column="operationUserUsername" jdbcType="VARCHAR" javaType="java.lang.String" property="operationUser.username"/>
        <result column="operationUserPassword" jdbcType="VARCHAR" javaType="java.lang.String" property="operationUser.password"/>
        <result column="operationUserIdCard" jdbcType="VARCHAR" javaType="java.lang.String" property="operationUser.idCard"/>
        <result column="operationUserFirstLogin" jdbcType="VARCHAR" javaType="java.lang.Integer" property="operationUser.firstLogin"/>
        <result column="operatedUserUsername" jdbcType="VARCHAR" javaType="java.lang.String" property="operatedUser.username"/>
        <result column="operatedUserPassword" jdbcType="VARCHAR" javaType="java.lang.String" property="operatedUser.password"/>
        <result column="operatedUserIdCard" jdbcType="VARCHAR" javaType="java.lang.String" property="operatedUser.idCard"/>
        <result column="operatedUserFirstLogin" jdbcType="VARCHAR" javaType="java.lang.Integer" property="operatedUser.firstLogin"/>
        <result column="description" jdbcType="VARCHAR" javaType="java.lang.String" property="description"/>
    </resultMap>
    <resultMap id="admin" type="com.snut_tdms.model.po.UserRole">
        <id column="username" jdbcType="VARCHAR" javaType="java.lang.String" property="user.username"/>
        <result column="password" jdbcType="VARCHAR" javaType="java.lang.String" property="user.password"/>
        <result column="idCard" jdbcType="VARCHAR" javaType="java.lang.String" property="user.idCard"/>
        <result column="firstLogin" jdbcType="VARCHAR" javaType="java.lang.Integer" property="user.firstLogin"/>
        <result column="roleId" jdbcType="VARCHAR" javaType="java.lang.String" property="role.id"/>
        <result column="roleName" jdbcType="VARCHAR" javaType="java.lang.String" property="role.name"/>
    </resultMap>

    <insert id="insertUser" parameterType="java.util.Map">
        INSERT INTO `user`(username) VALUES (#{username});
        INSERT INTO user_info(`user`,department) VALUES (#{username},#{departmentCode});
        INSERT INTO user_role VALUES (#{username},#{roleId})
    </insert>

    <delete id="deleteUserByUsernameList" parameterType="java.util.List">
        DELETE FROM `user` WHERE username in
        <foreach collection="list" item="username" separator="," open="(" close=")">
            #{username}
        </foreach>
    </delete>
    <delete id="deleteDataByIds" parameterType="java.util.Map">
        DELETE FROM `data`
        WHERE id IN ${ids}
    </delete>

    <select id="selectDepartmentLogs" resultMap="log" parameterType="java.lang.String">
        SELECT
         id,
          content,
          `action`,
          `time`,
          user1.username as operationUserUsername,
          user1.password as operationUserPassword,
          user1.id_card as operationUserIdCard,
          user1.first_login as operationUserFirstLogin,
          user1.username as operatedUserUsername,
          user1.password as operatedUserPassword,
          user1.id_card as operatedUserIdCard,
          user1.first_login as operatedUserFirstLogin,
          description
         FROM log
         LEFT JOIN `user` as user1 ON user1.username =operation_user
         LEFT JOIN `user` as user2 ON user2.username =operated_user
         WHERE (
            SELECT department
            FROM user_info
            LEFT JOIN `user` ON `user`.username = user_info.`user`
            WHERE user_info.`user` = log.operated_user
         ) = #{0}
         ORDER BY `time` desc
    </select>
    <select id="selectUserByRole" resultMap="admin" resultType="java.lang.String">
        SELECT
        `user`.username,
        `user`.password,
        `user`.id_card as idCard,
        `user`.first_login as firstLogin,
        role.id as roleId,
        role.name as roleName
        FROM user_role
        LEFT JOIN `user` ON `user`.username = user_role.`user`
        LEFT JOIN role ON role.id = user_role.role
        WHERE role.id = #{0}
    </select>


</mapper>