<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snut_tdms.dao.StudentOfficeDao">

    <select id="selectStudentOfficeDataCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT COUNT(1)
        FROM `data`
        LEFT JOIN user_info ON user_info.user = `data`.user
        LEFT JOIN data_class ON `data`.data_class = data_class.id
        LEFT JOIN user_role ON user_role.`user`=`data`.user
        WHERE user_info.department = #{department}
        AND `data`.flag = 0
        <if test="username!=null and username!=''">
            AND `data`.user = #{username} AND data_class.flag = 2
        </if>
        <if test="roleId!=null and roleId!=''">
            AND user_role.role = #{roleId} AND data_class.flag<![CDATA[<>]]>2
        </if>
    </select>

    <select id="selectAdminNoticeCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(1) as num
        FROM system_notice
        WHERE (
            SELECT department
            FROM user_info
            WHERE user_info.`user` = system_notice.`user`
        ) = #{0}
        AND role = '002'
    </select>

</mapper>