<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snut_tdms.dao.SuperAdminDao">

    <resultMap id="log" type="com.snut_tdms.model.po.Log">
        <id column="id" jdbcType="VARCHAR" javaType="java.lang.String" property="id"/>
        <result column="content" jdbcType="VARCHAR" javaType="java.lang.String" property="content"/>
        <result column="action" jdbcType="VARCHAR" javaType="java.lang.String" property="action"/>
        <result column="time" jdbcType="VARCHAR" javaType="java.sql.Timestamp" property="time"/>
        <result column="operationUserUsername" jdbcType="VARCHAR" javaType="java.lang.String" property="operationUser.username"/>
        <result column="operationUserPassword" jdbcType="VARCHAR" javaType="java.lang.String" property="operationUser.password"/>
        <result column="operationUserIdCard" jdbcType="VARCHAR" javaType="java.lang.String" property="operationUser.idCard"/>
        <result column="operationUserFirstLogin" jdbcType="VARCHAR" javaType="java.lang.Integer" property="operationUser.firstLogin"/>
        <result column="operatedId" jdbcType="VARCHAR" javaType="java.lang.String" property="operatedId"/>
        <result column="operatedType" jdbcType="VARCHAR" javaType="java.lang.String" property="operatedType"/>
        <result column="description" jdbcType="VARCHAR" javaType="java.lang.String" property="description"/>
    </resultMap>
    <resultMap id="admin" type="com.snut_tdms.model.po.UserRole">
        <id column="username" jdbcType="VARCHAR" javaType="java.lang.String" property="user.username"/>
        <result column="password" jdbcType="VARCHAR" javaType="java.lang.String" property="user.password"/>
        <result column="idCard" jdbcType="VARCHAR" javaType="java.lang.String" property="user.idCard"/>
        <result column="firstLogin" jdbcType="VARCHAR" javaType="java.lang.Integer" property="user.firstLogin"/>
        <result column="roleId" jdbcType="VARCHAR" javaType="java.lang.String" property="role.id"/>
        <result column="roleName" jdbcType="VARCHAR" javaType="java.lang.String" property="role.name"/>
    </resultMap>

    <insert id="insertDepartmentList" parameterType="java.util.List">
        INSERT INTO department VALUES
        <foreach collection="list" item="department" separator=",">
            (#{department.code},#{department.name})
        </foreach>
    </insert>
    <insert id="insertAdmin" parameterType="java.util.Map">
        INSERT INTO `user`(username) VALUES (#{username});
        INSERT INTO user_info(`user`,department) VALUES (#{username},#{departmentCode});
        INSERT INTO user_role VALUES (#{username},'002')
    </insert>

    <delete id="deleteDepartmentListByCodes" parameterType="java.util.List">
        DELETE FROM department WHERE code in
        <foreach collection="list" item="departmentCode" separator="," open="(" close=")">
            #{departmentCode}
        </foreach>
    </delete>
    <delete id="deleteAdminByUsernameList" parameterType="java.util.List">
        DELETE FROM `user` WHERE username in
        <foreach collection="list" item="username" separator="," open="(" close=")">
            #{username}
        </foreach>
    </delete>

    <update id="updateDepartmentByCode" parameterType="com.snut_tdms.model.po.Department">
        UPDATE department
        SET `name` = #{name}
        WHERE code = #{code}
    </update>
    <update id="updateAdminUserInfo" parameterType="com.snut_tdms.model.po.UserInfo">
         UPDATE user_info SET
          `name` = #{name},
          sex = #{sex},
          phone = #{phone},
          email = #{email},
          department = #{department.code}
        WHERE user_info.`user` = #{user.username}
    </update>
    <update id="recoverData" parameterType="java.lang.String">
        UPDATE `data` SET
          flag = 0
        WHERE id = #{0}
    </update>

    <select id="selectAllLogsByPage" parameterType="java.util.Map" resultMap="log">
        SELECT
          id,
          content,
          `action`,
          `time`,
          user1.username as operationUserUsername,
          user1.password as operationUserPassword,
          user1.id_card as operationUserIdCard,
          user1.first_login as operationUserFirstLogin,
          operated_id as operatedId,
          operated_type as operatedType,
          description
          FROM log
          LEFT JOIN `user` as user1 ON user1.username =log.operation_user
          WHERE 1=1
          <if test="departmentCode!=null and departmentCode!=''">
              AND (SELECT department FROM user_info WHERE user_info.user=log.operation_user) = #{departmentCode}
          </if>
          <if test="action!=null and action!=''">
              AND log.action = #{action}
          </if>
          <if test="operatedType!=null and operatedType!=''">
              AND log.operated_type = #{operatedType}
          </if>
          ORDER BY `time` desc
    </select>
    <select id="selectAllAdminByPage" resultMap="admin">
        SELECT
          `user`.username,
          `user`.password,
          `user`.id_card as idCard,
          `user`.first_login as firstLogin,
          role.id as roleId,
          role.name as roleName
        FROM user_role
        LEFT JOIN `user` ON `user`.username = user_role.`user`
        LEFT JOIN role ON role.id = user_role.role
        WHERE role.id = '002'
    </select>

</mapper>