<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snut_tdms.dao.UserDao">

    <resultMap id="userRole" type="com.snut_tdms.model.po.UserRole">
        <id column="username" jdbcType="VARCHAR" javaType="java.lang.String" property="user.username"/>
        <result column="password" jdbcType="VARCHAR" javaType="java.lang.String" property="user.password"/>
        <result column="idCard" jdbcType="VARCHAR" javaType="java.lang.String" property="user.idCard"/>
        <result column="firstLogin" jdbcType="VARCHAR" javaType="java.lang.Integer" property="user.firstLogin"/>
        <result column="roleId" jdbcType="VARCHAR" javaType="java.lang.String" property="role.id"/>
        <result column="roleName" jdbcType="VARCHAR" javaType="java.lang.String" property="role.name"/>
    </resultMap>
    <resultMap id="userInfo" type="com.snut_tdms.model.po.UserInfo">
        <id column="username" jdbcType="VARCHAR" javaType="java.lang.String" property="user.username"/>
        <result column="password" jdbcType="VARCHAR" javaType="java.lang.String" property="user.password"/>
        <result column="idCard" jdbcType="VARCHAR" javaType="java.lang.String" property="user.idCard"/>
        <result column="firstLogin" jdbcType="VARCHAR" javaType="java.lang.Integer" property="user.firstLogin"/>
        <result column="name" jdbcType="VARCHAR" javaType="java.lang.String" property="name"/>
        <result column="sex" jdbcType="VARCHAR" javaType="java.lang.String" property="sex"/>
        <result column="phone" jdbcType="VARCHAR" javaType="java.lang.String" property="phone"/>
        <result column="email" jdbcType="VARCHAR" javaType="java.lang.String" property="email"/>
        <result column="departmentCode" jdbcType="VARCHAR" javaType="java.lang.String" property="department.code"/>
        <result column="departmentName" jdbcType="VARCHAR" javaType="java.lang.String" property="department.name"/>
    </resultMap>
    <resultMap id="systemNotice" type="com.snut_tdms.model.po.SystemNotice">
        <id column="id" jdbcType="VARCHAR" javaType="java.lang.String" property="id"/>
        <result column="name" jdbcType="VARCHAR" javaType="java.lang.String" property="name"/>
        <result column="content" jdbcType="VARCHAR" javaType="java.lang.String" property="content"/>
        <result column="date" jdbcType="VARCHAR" javaType="java.sql.Timestamp" property="date"/>
        <result column="username" jdbcType="VARCHAR" javaType="java.lang.String" property="user.username"/>
        <result column="password" jdbcType="VARCHAR" javaType="java.lang.String" property="user.password"/>
        <result column="idCard" jdbcType="VARCHAR" javaType="java.lang.String" property="user.idCard"/>
        <result column="firstLogin" jdbcType="VARCHAR" javaType="java.lang.Integer" property="user.firstLogin"/>
        <result column="idCard" jdbcType="VARCHAR" javaType="java.lang.String" property="user.idCard"/>
        <result column="roleId" jdbcType="VARCHAR" javaType="java.lang.String" property="role.id"/>
        <result column="roleName" jdbcType="VARCHAR" javaType="java.lang.String" property="role.name"/>
    </resultMap>
    <resultMap id="dataClass" type="com.snut_tdms.model.po.DataClass">
        <id column="id" jdbcType="VARCHAR" javaType="java.lang.String" property="id"/>
        <result column="name" jdbcType="VARCHAR" javaType="java.lang.String" property="name"/>
        <result column="roleId" jdbcType="VARCHAR" javaType="java.lang.String" property="role.id"/>
        <result column="roleName" jdbcType="VARCHAR" javaType="java.lang.String" property="role.name"/>
        <result column="username" jdbcType="VARCHAR" javaType="java.lang.String" property="user.username"/>
        <result column="password" jdbcType="VARCHAR" javaType="java.lang.String" property="user.password"/>
        <result column="idCard" jdbcType="VARCHAR" javaType="java.lang.String" property="user.idCard"/>
        <result column="firstLogin" jdbcType="VARCHAR" javaType="java.lang.Integer" property="user.firstLogin"/>
        <result column="departmentCode" jdbcType="VARCHAR" javaType="java.lang.String" property="department.code"/>
        <result column="departmentName" jdbcType="VARCHAR" javaType="java.lang.String" property="department.name"/>
        <result column="flag" jdbcType="VARCHAR" javaType="java.lang.Integer" property="flag"/>
    </resultMap>

    <insert id="insertLog" parameterType="com.snut_tdms.model.po.Log">
        INSERT INTO log VALUES (
          #{id},
          #{content},
          #{action},
          #{time},
          #{operationUser.username},
          #{operatedUser.username},
          #{description}
        )
    </insert>
    <insert id="insertDataClass" parameterType="com.snut_tdms.model.po.DataClass">
        INSERT INTO data_class VALUES (
          #{id},
          #{name},
          #{role.id},
          #{user.username},
          #{department.code},
          #{flag}
        )
    </insert>
    <insert id="insertData" parameterType="com.snut_tdms.model.po.Data">
        INSERT INTO `data` VALUES (
            #{id},
            #{content},
            #{fileName},
            #{src},
            #{dataClass.id},
            #{user.username},
            #{submitTime},
            #{deleteTime},
            #{flag}
        )
    </insert>

    <update id="updatePassword" parameterType="com.snut_tdms.model.po.User">
        UPDATE `user` SET
          password = #{password},
          id_card = #{idCard}
        WHERE username = #{username}
    </update>
    <update id="updateUserInfo" parameterType="com.snut_tdms.model.po.UserInfo">
        UPDATE user_info SET
          `name` = #{name},
          sex = #{sex},
          phone = #{phone},
          email = #{email}
        WHERE user_info.`user` = #{user.username}
    </update>

    <select id="selectUserByUsername" parameterType="java.lang.String" resultMap="userRole">
        SELECT
          `user`.username,
          `user`.password,
          `user`.id_card as idCard,
          `user`.first_login as firstLogin,
          role.id as roleId,
          role.name as roleName
          FROM user_role
          LEFT JOIN `user` ON `user`.username = user_role.user
          LEFT JOIN role ON role.id = user_role.role
          WHERE `user`.username = #{0}
    </select>
    <select id="selectUserInfoByUsername" parameterType="java.lang.String" resultMap="userInfo">
        SELECT
          `user`.username,
          `user`.password,
          `user`.id_card as idCard,
          `user`.first_login as firstLogin,
          user_info.`name`,
          sex,
          phone,
          email,
          department.code as departmentCode,
          department.`name` as departmentName
          FROM user_info
          LEFT JOIN `user` ON `user`.username = user_info.user
          LEFT JOIN department ON department.code = user_info.department
          WHERE `user`.username = #{0}
    </select>
    <select id="selectSystemNotice" parameterType="java.util.Map" resultMap="systemNotice">
         SELECT
            system_notice.id,
            system_notice.`name`,
            content,
            `date`,
            user1.username as username,
            user1.password,
            user1.id_card as idCard,
            user1.first_login as firstLogin,
            role.id as roleId,
            role.name as roleName
         FROM system_notice
         LEFT JOIN `user` as user1 ON user1.username = system_notice.user
         LEFT JOIN role ON role.id = system_notice.role
         WHERE
            (SELECT department.code FROM user_info
            LEFT JOIN department ON department.code = user_info.department
            LEFT JOIN `user` as user2 ON user_info.user = user2.username
            WHERE user2.username = user1.username) = #{departmentCode}
         <if test="roleId != null and roleId!= ''">
            AND role.id = #{roleId}
         </if>
    </select>
    <select id="selectDataClass" parameterType="java.util.Map" resultMap="dataClass">
        SELECT
          data_class.id,
          data_class.`name`,
          role.id as roleId,
          role.name as roleName,
          `user`.username,
          `user`.password,
          `user`.id_card as idCard,
          `user`.first_login as firstLogin,
          department.code as departmentCode,
          department.name as departmentName,
          data_class.flag
          FROM data_class
          LEFT JOIN role ON data_class.role = role.id
          LEFT JOIN `user` ON data_class.`user` = `user`.username
          LEFT JOIN department ON data_class.department = department.code
        WHERE department.code = #{departmentCode}
        <if test="dataClassId != null and dataClassId != ''">
            AND data_class.id = #{dataClassId}
        </if>
        <if test="flag != null and flag!= ''">
            AND data_class.flag in ${flag}
        </if>
        <if test="roleId != null and roleId!= ''">
            AND role.id = #{roleId}
        </if>
    </select>

</mapper>